<!--
 * @Author: alexthezhang228 zhangy32@tcd.ie
 * @Date: 2023-02-19 17:29:46
 * @LastEditors: alexthezhang228 110424337+alexthezhang228@users.noreply.github.com
 * @LastEditTime: 2023-03-10 21:05:59
 * @FilePath: /flask_project/template/base.html
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/styles.css">
  {% block head %}{% endblock %}
  
  <title>{% block title %}{% endblock %}</title>
</head>

<body>

  <div class="navgation_bar">
    <div class="nav_left">
      <div>Duck Searching</div>
      <div><a href="{{url_for('qa.public_qa')}}">First Page</a></div>
      <div><a href="{{url_for('qa.public_qa')}}">post a question</a></div>
      <div>
        <form method="GET" action="{{url_for('qa.search')}}">
          <input placeholder="keyword" type="search" name="q" >
          <button>search</button>
        </form>
      </div>     
    </div>
    <div class="nav_right">
      {% if user %}
      <div>Hello,{{ user.username }}</div>
      <div><a href="{{url_for('author.logout')}}">Exit</a></div>
      
      {% else %}
      <div><a href="{{url_for('author.login')}}">login</a></div>
      <div><a href="{{url_for('author.register')}}">register</a></div>
      {%  endif %}
    </div>
  </div>


  {% block body %}

  {% endblock %}

  
</body>
</html>